<div>

    <!-- As tu badgé -->
    <div ng-show="badgeKo" class="alert alert-danger alert-dismissible" role="alert" ng-cloak>
        <button type="button" class="close" data-dismiss="alert">
            <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
        </button>
        <strong>Warning!</strong> Tu n'as pas badgé. <span class="cursor" ng-click="openTemptation()"> <strong>Temptation</strong> </span> !!!
    </div>


     <!--Café gratuit-->
    <div ng-show="cafeGratos" class="alert alert-success alert-dismissible" role="alert" ng-cloak>
        <button type="button" class="close" data-dismiss="alert">
            <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
        </button>
        <strong>C'est mercredi.</strong> T'as un café gratos !!!
    </div>

     <!--PsNext-->
    <div ng-show="psNext" class="alert alert-warning alert-dismissible" role="alert" ng-cloak>
        <button type="button" class="close" data-dismiss="alert">
            <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
        </button>
        C'est vendredi, fais ton <span class="cursor" ng-click="openPsNext()"> <strong>PsNext</strong> </span> !!!
    </div>


    <!-- Inscription cantine -->
    <div ng-show="inscrit && !timeLimitMenu" class="alert alert-info alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert">
            <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
        </button>
        Tu es inscrit à la cantine, pour annuler fais le <strong>7901</strong>.
    </div>

    <div class="jumbotron" ng-show="!inscrit && !timeLimitMenu">
        <h2>Veux-tu manger à la cantine ?</h2>
        <div class="btn-group">
        	<label class="btn btn-primary"  ng-model="viande"  btn-radio="menuDuJour[1]"><div tooltip-placement="bottom" tooltip-html-unsafe="<a target='_blank' href='/platImage/{{menuDuJour[1]}}'><img width = '150px' src='/platImage/{{plat1}}'/></a>">{{menuDuJour[1]}}</div></label>
            <label class="btn btn-primary" ng-model="viande"  btn-radio="menuDuJour[2]"><div tooltip-placement="bottom" tooltip-html-unsafe="<a target='_blank' href='/platImage/{{menuDuJour[2]}}'><img width = '150px' src='/platImage/{{plat2}}'/></a>">{{menuDuJour[2]}}</div></label>
        </div>

        <div class="btn-group">
            <label class="btn btn-success" ng-model="accompagnements.a1" btn-checkbox><div tooltip-placement="bottom" tooltip-html-unsafe="<a target='_blank' href='/platImage/{{menuDuJour[7]}}'><img width = '150px' src='/platImage/{{accompagnement1}}'/></a>">{{menuDuJour[7]}}</div></label>
            <label class="btn btn-success" ng-model="accompagnements.a2" btn-checkbox><div tooltip-placement="bottom" tooltip-html-unsafe="<a target='_blank' href='/platImage/{{menuDuJour[8]}}'><img width = '150px' src='/platImage/{{accompagnement2}}'/></a>">{{menuDuJour[8]}}</div></label>
        </div>
        <br/>
        <br/>
        <button class="btn btn-info" ng-click="mail()">Mail</button>
    </div>

    <div class="row">
        <div class="col-xs-6 col-md-3">
            <a href="http://9gag.com/" class="thumbnail" target="_blank">
                <img src="img/9gag.png" alt="9GAG"/>
            </a>
        </div>
        <div class="col-xs-6 col-md-3">
            <a href="https://www.dealabs.com/" class="thumbnail" target="_blank">
                <img src="img/dealabs.png" alt="Dealabs"/>
            </a>
        </div>
    </div>


</div>

