<div>

    <!-- TODO pourquoi le ng-cloak ne marche pas -->
    <!-- As tu badgé -->
    <div ng-cloak ng-show="!asTuBadge" class="alert alert-danger alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert">
            <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
        </button>
        <strong>Warning!</strong> Tu n'as pas badgé.
    </div>


     <!--Café gratuit-->
    <div class="alert alert-success alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert">
            <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
        </button>
        <strong>Cool!</strong> T'as un café gratos!!!!
    </div>

     <!--PsNext-->
    <div class="alert alert-warning alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert">
            <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
        </button>
        <strong>C'est vendredi</strong> Fais ton PsNext!!!!
    </div>

    <div class="jumbotron">
        <h2>Veux-tu manger à la cantine ?</h2>
        <div class="btn-group">
            <label class="btn btn-primary" ng-model="viande" btn-radio="menuDuJour[1]">{{menuDuJour[1]}}</label>
            <label class="btn btn-primary" ng-model="viande" btn-radio="menuDuJour[2]">{{menuDuJour[2]}}</label>
        </div>

        <div class="btn-group">
            <label class="btn btn-success" ng-model="accompagnements.a1" btn-checkbox>{{menuDuJour[7]}}</label>
            <label class="btn btn-success" ng-model="accompagnements.a2" btn-checkbox>{{menuDuJour[8]}}</label>
        </div>
        <br/>
        <br/>
        <button class="btn btn-info" ng-click="mail()">Mail</button>
    </div>


</div>