<div>

    <!-- TODO pourquoi le ng-cloak ne marche pas -->
    <!-- As tu badgé -->
    <div ng-cloak ng-show="!asTuBadge" class="alert alert-danger alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert">
            <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
        </button>
        <strong>Warning!</strong> Tu n'as pas badgé.
    </div>


     <!--Café gratuit-->
    <div class="alert alert-success alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert">
            <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
        </button>
        <strong>Cool!</strong> T'as un café gratos!!!!
    </div>

     <!--PsNext-->
    <div class="alert alert-warning alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert">
            <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
        </button>
        <strong>C'est vendredi</strong> Fais ton PsNext!!!!
    </div>

    <div class="jumbotron">
        <h2>Veux-tu manger à la cantine ?</h2>
        <div class="btn-group">
        	<label class="btn btn-primary"  ng-model="viande"  btn-radio="menuDuJour[1]"><div tooltip-placement="bottom" tooltip-html-unsafe="<a target='_blank' href='/platImage/{{menuDuJour[1]}}'><img width = '150px' src='/platImage/{{menuDuJour[1]}}'/></a>">{{menuDuJour[1]}}</div></label>
            <label class="btn btn-primary" ng-model="viande"  btn-radio="menuDuJour[2]"><div tooltip-placement="bottom" tooltip-html-unsafe="<a target='_blank' href='/platImage/{{menuDuJour[2]}}'><img width = '150px' src='/platImage/{{menuDuJour[2]}}'/></a>">{{menuDuJour[2]}}</div></label>
        </div>

        <div class="btn-group">
            <label class="btn btn-success" ng-model="accompagnements.a1" btn-checkbox><div tooltip-placement="bottom" tooltip-html-unsafe="<a target='_blank' href='/platImage/{{menuDuJour[7]}}'><img width = '150px' src='/platImage/{{menuDuJour[7]}}'/></a>">{{menuDuJour[7]}}</div></label>
            <label class="btn btn-success" ng-model="accompagnements.a2" btn-checkbox><div tooltip-placement="bottom" tooltip-html-unsafe="<a target='_blank' href='/platImage/{{menuDuJour[8]}}'><img width = '150px' src='/platImage/{{menuDuJour[8]}}'/></a>">{{menuDuJour[8]}}</div></label>
        </div>
        <br/>
        <br/>
        <button class="btn btn-info" ng-click="mail()">Mail</button>
    </div>
    
</div>

