<div>

    <!--<div loading>-->


<div class="panel panel-primary">
    <div class="panel-heading">Prochains Passages : {{stopName}} --- {{stopCode}}  <span ng-click="loadBus()" class="{{loadingBus}}"></span></div>
    <div class="panel-body">
        <ul class="list-group">
            <li ng-class-odd="'list-group-item list-group-item-success'" ng-class-even="'list-group-item list-group-item-info'" ng-repeat="depart in departs">
                <span class="marge badge badgePerso">{{depart.decompteDepart}}</span>
                <span class="marge">{{depart.heureDepart}}</span>
                <span class="marge numBus" style="background:rgb{{depart.color}};">{{depart.numero}}</span>
                <span class="marge">{{depart.nomLigne}}</span>
            </li>
        </ul>
    </div>
</div>

    <!--</div>-->


<div class="panel panel-primary">
    <div class="panel-heading">Vélouse <span ng-click="loadVelib()" class="{{loadingVelouse}}"></span></div>
    <div class="panel-body">

        <table class="table">
            <thead>
                <tr>
                    <th class="warning"></th>
                    <th class="warning">Vélos Disponibles</th>
                    <th class="warning">Places Libres</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-class-odd="'success'" ng-class-even="'info'" ng-repeat="velib in velibs">
                    <td> {{velib.name}}</td>
                    <td>{{velib.disponible}}</td>
                    <td>{{velib.libre}}</td>
                </tr>
            </tbody>
        </table>

    </div>
</div>


</div>

