/*
  Allow angular.js to be loaded in body, hiding cloaked elements until
  templates compile.  The !important is important given that there may be
  other selectors that are more specific or come later and might alter display.
 */
[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}



/* Commun */
/* span dans les tableaux*/
span.marge {
    margin-left: 20px;
}

.cursor {
    cursor: pointer;
}

.navbarSansMarge {
    margin-bottom : 0px !important;
}

.backgroundPage {
    background-color: #eee;
}

.corpsPage {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    padding-bottom: 30px;
}

/* footer */
.panel-footer {
    text-align: center;
    background-color: #FFFFFF !important;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.element-footer-right {
    float: right;
}

.element-footer-left {
    float: left;
}

.panel-footer-links {
    -webkit-padding-start: 0px;
}

.panel-footer-links li {
    display: inline-block;
}

.panel-footer-links li+li {
margin-left: 15px;
}

/* refresh */
.bouttonRefresh {
    cursor: pointer;
    float: right;
}

.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
    -moz-animation: spin3 .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}

@-moz-keyframes spin3 {
    from { -moz-transform: scale(1) rotate(0deg);}
    to { -moz-transform: scale(1) rotate(360deg);}
}



/* Page Accueil */
a.navbar-brand:hover {
   background: url(../img/icon_header_home.png) no-repeat center;
   background-color: #f8f8f8 !important;
   color: rgba(0, 0, 0, 0) !important;
}

.favoris {
    padding-left: 6% !important;
    padding-right: 6% !important;
}

.alert-center{
    width: 70%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}



/* Onglet Cantine */
table.table tr.even td.cell_selected {
	background-color: #B0BED9;
}

table.table tr.odd td.cell_selected {
	background-color: #9FAFD1;
}



/* Onglet Transport */
.badgePerso {
    float: left !important;
    background-color: #3C71A3 !important;
    min-width: 50px !important;
}

.numBus {
border-radius: 3px 3px 3px 3px;
color: #FFFFFF;
display: inline;
font-weight: bold;
margin: 1px 3px;
padding: 2px 4px;
}

