<!doctype html>
<html ng-app="Cantine">
  <head>
	    <script src="common/angular.min.js"></script>
	    <script src="common/jquery-2.1.1.js"></script>
	    <script src="common/jquery.dataTables.js"></script>
	    <script src="cantine.js"></script>
	    
	    <link rel="stylesheet" href="common/jquery.dataTables.css">
	     
<!-- 	<script data-require="angular.js@*" data-semver="1.2.0-rc3-nonmin" src="http://code.angularjs.org/1.2.0-rc.3/angular.js"></script> -->
<!--  	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.10/angular.min.js"></script>    -->
<!-- jQuery -->
<!-- 	<script type="text/javascript" charset="utf8" src="//code.jquery.com/jquery-1.10.2.min.js"></script> -->
	
<!-- DataTables -->
<!-- <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.0/js/jquery.dataTables.js"></script> -->
	    
	    
    
   
    
    
    <link rel="stylesheet" href="cantine.css">
    
    <!-- DataTables CSS -->
<!-- 	<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.0/css/jquery.dataTables.css"> -->
    
  </head>
  
  <body>
  
    <div ng-controller="HelloCtrl">
      <h1>Bonjour {{yourName}}</h1>
    </div>
    
    
  <div ng-controller="CopainCtrl"> 
    <h2> Total Personne: {{getTotalPersonne()}} </h2>
    <ul>
    	<li ng-repeat="personne in personnes">
    		<input type="checkbox" ng-model="personne.inscrit">
			<span class="inscrit-{{personne.inscrit}}">{{personne.nom}}</span>
		</li>
    </ul>
    
    <form class="form-horizontal">
    	<input type="text" ng-model="formPersonneNom">
    	<button class="btn-primary" ng-click="addPersonne()"> add </button>
    </form>
    
  </div> 
  

  
    <div ng-controller="MenuCtrl">
    	<p class="semaine"></p>
		<p class="plats">
			The content is <br>
		</p>
		<table class="table"></table>
    </div>

	
  </body>
</html>